@using GameApp.Web.Areas.Profile.Models
@{
    ViewData["Title"] = "User Settings";
}
@model UserSettingsViewModel
<div class="row">
    <partial name="_SettingsNavigation">
    <div class="col-lg-10">
        <h1 class="text-center">@Model.Username</h1>
        <hr>
        <ul >
            <li><h4>Email: @(Model.Email??"No Email")</h4></li>
            <li class="ml-5"><h4>Phone Number: @(Model.PhoneNumber??"No Phone")</h4></li>
            
        </ul>
        <hr>
        <div class="row">
            <div class="col-lg-5">
                <h1>Cards</h1>
                <ul>
                    @foreach(var card in Model.Cards)
                    {
                        <li>
                            <h4>@card.CardType</h4>
                            <ul>
                                <li><h5>First Name: @card.FirstName</h5></li>
                                <li><h5>Last Name: @card.LastName</h5></li>
                                <li><h5>Card Number: @(card.CardNumber[0..4])******</h5></li>
                            </ul>
                        </li>

                    }
             </ul>
            </div>
            <div class="col-lg-5"> 
                <h1>Games</h1>
                <ul>
                    @foreach(var game in Model.Games)
                    {
                        <a class="text-decoration-none text-white" href="https://localhost:44385/Game?title=@game.Name">
                            <li>
                                
                                <h5>@game.Name</h5>
                            </li>   
                        </a>
                    }
                </ul>
            </div>
        </div>

       
    </div>
</div>
