@using GameApp.Web.Models.Game
@{
    ViewData["Title"] = "Game";
} 
@model GameViewModel
<h1>@Model.Name </h1>
<div class="main-div left-div">
    <img class="img-fluid" width="100%" height="300px"src="~/Files/@Model.ImageUrl">
    @if(Model.HaveGame)
    {
       @if(@Model.UserRating==0)
        {
            <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">Add to favorites</a>
        }
        else
        {
            <a >Your Rating: @Model.UserRating</a>
            <br>
            <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">Change Rating</a>
        } 
        <div class="modal fade text-dark" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New message</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form method="post" asp-controller="Game"asp-action="Rate" >
                  <div class="mb-3">
                    <label for="recipient-name" class="col-form-label">Rating:</label>
                    <input type="hidden" value="@Model.Name" name="GameName">
                    <select name="Points" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                      <option selected disabled value="">Rating</option>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                      <option value="6">6</option>
                      <option value="7">7</option>
                      <option value="8">8</option>
                      <option value="9">9</option>
                      <option value="10">10</option>
                    </select>
                    <input type="submit" class="btn btn-primary" valus="Send message">
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
    }
    else
    {
         <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">Add to favorites</a>



         <div class="modal fade text-dark" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" >
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p>Buy game to give rating</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">OK</button>
              </div>
            </div>
          </div>
        </div>
    }


    <hr>
    <h4>Information</h4>
    <ul>
        <li>Genres:</li>
        @foreach(var genre in Model.Genres)
        {
            <li>&emsp;@genre</li>
        }
        <li>Status:@(Model.ReleaseDate>DateTime.UtcNow?"Aried":"Incoming")</li>
        <li>Arried:@Model.ReleaseDate.ToString("yyyy,MM,dd")</li>
        <li>Premiered:@Model.ReleaseDate.Year</li>
        <li>Studio:</li>

    </ul>
    @if (!Model.HaveGame)
        {
            <form class="mb-4" method="post">
                <input name="id" type="hidden" value="@Model.Id">
                <input type="submit" class="btn btn-primary btn-lg bg-success" asp-controller="Cart" asp-action="AddToCart" value="AddToCart">
            </form>
        }

</div>

<div class="main-div right-div">
    <div class="rank">
        <ul class="scores">
            <li>Score:@Model.Score.ToString("F2")</li>
            <li>Rank:@Model.Rank</li>
            <li>Popularity:@Model.Popularity</li>
            <li>Users:@Model.Users</li>
        </ul>
    </div>

    <div class="ratio ratio-21x9">
        <iframe src="https://www.youtube.com/embed/@(Model.Video)" title="YouTube video" allowfullscreen></iframe>

    </div>
    
    <div class="description">
        <h2 class="text-center">Description</h2>
        <p>@Model.Description</p>
    </div>
    <h2 class="text-center">Recomendations</h2>
    <div class="recomendations">
        @for(int i=0;i<5;i++)
        {
            <div >
                <img class="img-fluid" width="100px" height="100px"src="~/Files/@Model.SimilarGames[i].ImgUrl">
                <h5 >@Model.SimilarGames[i].Name</h5>
            </div>
        }
        
        
        
    </div>

    

    <h2 class="text-center">Reviews</h2>
    <div class="comment">
                <div class="user-info">
                    <ul class="d-flex nopadding">
                        <li class="right-div" >Username</li>
                        <li >Overall Rating:@Model.UserRating</li>
                    </ul>
                </div>
                <div >
                    <form>
                        <input type="hidden" id="gameId" value="@Model.Id" />
                        <textarea id="commentContents" name="" rows="4" style="width:100%" placeholder="Write your comment"></textarea>
                        <input onclick="PostComment(event)" class="btn btn-primary btn-lg" id="postComment"  type="submit" value="Comment">
                    </form>
                </div>
            </div>
    <div class="comments" id="comments">

        


    </div>
    <button onclick="LoadMoreComments()" class="btn btn-primary btn-lg centerbutton">Load More</button>
</div>




@section Scripts{
    <script>
        LoadMoreComments();
    </script>

}
