@using GameApp.Web.Models.Home
@{
    ViewData["Title"] = "Home Page";
}
@model HomeIndexViewModel
<div class="index-view">
    <div id="carousel" class="carousel slide carousel-span-row-1" data-bs-ride="carousel">
        <h3>Popular Games</h3>
        <div class="carousel-inner">
            @if (Model.PopularGames.Count() > 0)
            {
                <div class="carousel-item active">
                    <ul class="d-flex justify-content-center">
                        @for (int i = 0; i < 5; i++)
                        {
                            @if (Model.PopularGames.Count() > i)
                            {
                                <li>
                                    <a href="/Game?title=@Model.PopularGames[i].Name">
                                        <img class="img-fluid" height="200px" width="180px" src="~/Files/@Model.PopularGames[i].ImgUrl" />
                                    </a>
                                    <br>
                                    <p class="text-overflow">@Model.PopularGames[i].Name</p>
                                </li>
                            }
                        }
                    </ul>

                </div>
            }
            @if (Model.PopularGames.Count() > 5)
            {
                <div class="carousel-item">
                    <ul class="d-flex justify-content-center">
                        @for (int i = 5; i < 10; i++)
                        {
                            @if (Model.PopularGames.Count() > i)
                            {
                                <li>
                                    <a href="/Game?title=@Model.PopularGames[i].Name">
                                        <img class="img-fluid" height="200px" width="180px" src="~/Files/@Model.PopularGames[i].ImgUrl" />
                                    </a>
                                    <br>
                                    <p class="text-overflow">@Model.PopularGames[i].Name</p>
                                </li>
                            }
                        }

                    </ul>
                </div>
            }

            @if (Model.PopularGames.Count() > 10)
            {
                <div class="carousel-item">
                    <ul class="d-flex justify-content-center">
                        @for (int i = 10; i < 15; i++)
                        {

                            @if (Model.PopularGames.Count() > i)
                            {
                                <li>
                                    <a href="/Game?title=@Model.PopularGames[i].Name">
                                        <img class="img-fluid" height="200px" width="180px" src="~/Files/@Model.PopularGames[i].ImgUrl" />
                                    </a>
                                    <br>
                                    <p class="text-overflow">@Model.PopularGames[i].Name</p>
                                </li>
                            }
                        }

                    </ul>
                </div>

            }


        </div>

        <button class="carousel-control-prev button-caurosel" type="button" data-bs-target="#carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next button-caurosel" type="button" data-bs-target="#carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    
        <div class="carousel-span-row-2">
            <h3 class="text-center">Top Upcoming Games</h3>
            @if (Model.UpcomingGames.Count() > 0)
            {
                <ul>
                    @for (int i = 0; i < 5; i++)
                    {
                        @if (Model.UpcomingGames.Count() > i)
                        {
                            <li>
                                <b>#@(i+1)</b>
                                <a href="/Game?title=@Model.UpcomingGames[i].Name">
                                    <img class="img-fluid" height="70px" width="60px" src="~/Files/@Model.UpcomingGames[i].ImgUrl" />
                                </a>
                                <p class="text-overflow">@Model.UpcomingGames[i].Name</p>
                            </li>
                            <hr>
                        }

                    }

                </ul>
            }
        </div>
    

    <div id="carousel1" class="carousel slide carousel-span-row-1" data-bs-ride="carousel">
        <h3>Top Ranked Games</h3>
        <div class="carousel-inner">
            @if (@Model.TopRankedGames.Count() > 0)
            {
                <div class="carousel-item active">
                    <ul class="d-flex justify-content-center">
                        @for (int i = 0; i < 5; i++)
                        {
                            @if (@Model.TopRankedGames.Count() > i)
                            {
                                <li>
                                    <a href="/Game?title=@Model.TopRankedGames[i].Name">
                                        <img class="img-fluid" height="200px" width="180px" src="~/Files/@Model.TopRankedGames[i].ImgUrl" />
                                    </a>

                                    <br>
                                    <p class="text-overflow">@Model.TopRankedGames[i].Name</p>
                                </li>
                            }

                        }

                    </ul>

                </div>
            }

            @if (@Model.TopRankedGames.Count() > 5)
            {
               <div class="carousel-item">
                    <ul class="d-flex justify-content-center">
                        @for (int i = 5; i < 10; i++)
                        {
                            @if (@Model.TopRankedGames.Count() > i)
                            {
                                <li>
                                    <a href="/Game?title=@Model.TopRankedGames[i].Name">
                                        <img class="img-fluid" height="200px" width="180px" src="~/Files/@Model.TopRankedGames[i].ImgUrl" />
                                    </a>

                                    <br>
                                    <p class="text-overflow">@Model.TopRankedGames[i].Name</p>
                                </li>
                            }
                        }

                    </ul>
                </div> 
            }
            
            @if (@Model.TopRankedGames.Count() > 10)
            {
                <div class="carousel-item">
                    <ul class="d-flex justify-content-center">
                        @for (int i = 10; i < 15; i++)
                        {

                            @if (@Model.TopRankedGames.Count() > i)
                            {
                                <li>
                                    <a href="/Game?title=@Model.TopRankedGames[i].Name">
                                        <img class="img-fluid" height="200px" width="180px" src="~/Files/@Model.TopRankedGames[i].ImgUrl" />
                                    </a>

                                    <br>
                                    <p class="text-overflow">@Model.TopRankedGames[i].Name</p>
                                </li>
                            }
                        }

                    </ul>
                </div>
            }
            
        </div>

        <button class="carousel-control-prev button-caurosel" type="button" data-bs-target="#carousel1" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next button-caurosel" type="button" data-bs-target="#carousel1" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>


