@using GameApp.Web.Models.Home
@{
    ViewData["Title"] = "Home Page";
}
@model HomeIndexViewModel
<div class="index-view">
    <div id="carouselExampleControls" class="carousel slide carousel-span-row-1" data-bs-ride="carousel">
        <h3>Popular Games</h3>
      <div class="carousel-inner">

        <div class="carousel-item active">
            <ul class="d-flex justify-content-center">
            @for(int i=0;i<5;i++)
                {

                        <li >
                            <a  href="/Game?title=@Model.PopularGames[i].Name">
                                <img class="img-fluid" height="200px" width="180px" src="~/Files/@Model.PopularGames[i].ImgUrl" />
                            </a>
                            <br>
                            <p class="text-overflow">@Model.PopularGames[i].Name</p>
                            
                          
                        </li>
                }
           
            </ul>
      
        </div>

        <div class="carousel-item">
           <ul class="d-flex justify-content-center">
                @for(int i=5;i<10;i++)
                {

                        <li >
                            <a href="/Game?title=@Model.PopularGames[i].Name">
                                <img class="img-fluid" height="200px" width="180px" src="~/Files/@Model.PopularGames[i].ImgUrl" />
                            </a>
                          
                          <br>
                          <p class="text-overflow">@Model.PopularGames[i].Name</p>
                      </li>
                }

            </ul>
        </div>

        <div class="carousel-item">
                 <ul class="d-flex justify-content-center">
                @for(int i=10;i<15;i++)
                {

                        <li >
                          <a href="/Game?title=@Model.PopularGames[i].Name">
                                <img class="img-fluid" height="200px" width="180px" src="~/Files/@Model.PopularGames[i].ImgUrl" />
                            </a>
                          <br>
                          <p class="text-overflow">@Model.PopularGames[i].Name</p>
                      </li>
                }

            </ul>
        </div>
      </div>

      <button class="carousel-control-prev button-caurosel" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next button-caurosel" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <div class="carousel-span-row-2">
        <h3>Top Upcoming Games</h3>
        <ul>
            @for(int i=0;i<5;i++)
            {
                <li>
                    <b>#@(i+1)</b>
                    <a href="/Game?title=@Model.UpcomingGames[i].Name">
                        <img class="img-fluid" height="70px" width="60px" src="~/Files/@Model.UpcomingGames[i].ImgUrl" />
                    </a>
                    <p class="text-overflow">@Model.UpcomingGames[i].Name</p>
                </li>
                <hr>
            }

        </ul>

    </div>
    

        <div id="carouselExampleControls1" class="carousel slide carousel-span-row-1" data-bs-ride="carousel">
        <h3>Top Ranked Games</h3>
      <div class="carousel-inner">

        <div class="carousel-item active">
            <ul class="d-flex justify-content-center">
            @for(int i=0;i<5;i++)
                {

                        <li >
                            <a href="/Game?title=@Model.TopRankedGames[i].Name">
                                <img class="img-fluid" height="200px" width="180px" src="~/Files/@Model.TopRankedGames[i].ImgUrl" />
                            </a>
                         
                          <br>
                          <p class="text-overflow">@Model.TopRankedGames[i].Name</p>
                      </li>
                }
           
            </ul>
      
        </div>

        <div class="carousel-item">
           <ul class="d-flex justify-content-center">
                @for(int i=5;i<10;i++)
                {

                        <li >
                          <a href="/Game?title=@Model.TopRankedGames[i].Name">
                                <img class="img-fluid" height="200px" width="180px" src="~/Files/@Model.TopRankedGames[i].ImgUrl" />
                            </a>
                          <br>
                          <p class="text-overflow">@Model.TopRankedGames[i].Name</p>
                      </li>
                }

            </ul>
        </div>

        <div class="carousel-item">
                 <ul class="d-flex justify-content-center">
                @for(int i=10;i<15;i++)
                {

                        <li>
                          <a href="/Game?title=@Model.TopRankedGames[i].Name">
                                <img class="img-fluid" height="200px" width="180px" src="~/Files/@Model.TopRankedGames[i].ImgUrl" />
                            </a>
                          <br>
                          <p class="text-overflow">@Model.TopRankedGames[i].Name</p>
                      </li>
                }

            </ul>
        </div>
      </div>

      <button class="carousel-control-prev button-caurosel" type="button" data-bs-target="#carouselExampleControls1" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next button-caurosel" type="button" data-bs-target="#carouselExampleControls1" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
</div>


