@using GameApp.Web.Models.Card
@model AllCardsViewModel
@{
    ViewData["Title"] = "Choose Card";
}
<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">CardType </th>
      <th scope="col">FirstName</th>
      <th scope="col">LastName</th>
      <th scope="col">CardNumber</th>
      <th scope="col">Use</th>
    </tr>
  </thead>
  <tbody>

    @foreach(var item in Model.Cards)
    {
        <tr>
           <td class="nopadding">@item.CardType
          </td>
          <td class="nopadding">@item.FirstName
          </td>
          <td class="nopadding">@item.LastName
          </td>
          <td class="nopadding">@(item.CardNumber[0..4])****** 
          </td>
          <form method="post" asp-controller="Game" asp-action="Buy" >
            <td scope="nopadding"  >
                <input type="hidden" name="cardId" value="@item.Id">
                <input type="submit" class="btn btn-primary" value="Use">
            </td>
          </form>
          
        </tr>
    }
  </tbody>
</table>
<a class="btn btn-primary" asp-controller="Card" asp-action="CreateCard">Create Card</a>